@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./scss/variables-dark";
@import "./node_modules/bootstrap/scss/bootstrap";


@import "./scss/nav";

@import "./scss/editor";


.Logo {
  background-image: url(./images/logo_transparent.png);
  background-repeat: no-repeat;
  width: 1200px;
  height: 1200px;
  padding: 0;
  }

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.switch {
  width: 5.7rem;
  min-height: calc(1.5em + .75rem + 2px);
}